<div class="container" style="margin-top:5rem">
  <ul class="text-center">
    <h1> L'épopée de Whispaw ®  </h1>
  </ul>
  <ul class="text-right" style="margin-top:2rem">
    <h2> L'histoire d'une aventure humaine </h2>
  </ul>
</div>


<div class='container'>
  <div class='row align-items-center justify-content-around'>
    <div class='col-md-5 col-xl-6 mb-4 mb-md-0'>
      <%=image_tag("kingcat.jpg", alt: "king cat", class: "rounded king-cat")%>
    </div>
    <div class='col-md-7 col-xl-6'>
      <div class='row justify-content-center'>
        <div class='col-xl-8 col-lg-10'>

          <span class='badge badge-primary'>Notre credo</span>
          <div class='my-3'>
            <span class='h1'>Liberté pour les animaux de compagnie ! Meow.</span>
          </div>
          <p class='lead'>
            Dans un monde ou tout est virtuel, comment faire en sorte que les animaux de compagnie puissent eux aussi connaître la fame ?
          </p>
          <p class='lead mb-0'>
            Nous vous proposons le premier réseau social exclusivement dédié à ces petites boules de poils (ou pas #beardless).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top:5rem">
  <ul class="text-right">
    <h2> L'équipe</h2>
  </ul>
</div>

<div class="container" style="margin-top:2rem">
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-4 d-flex mb-3'>
      <div class='card card-lg card-body align-items-center'>
        <%=image_tag("agnes.jpg", alt: "Agnès Arthaud", class: "avatar avatar-xlg mb-3 rounded-circle")%>
        <h6 class='mb-0'>Agnès Arthaud</h6>
        <span>Pédégé</span>
        <div class='float-right'>
          <%= link_to 'https://www.linkedin.com/in/agn%C3%A8s-arthaud-b39565a6/' do %>
            <div class='btn btn-sm btn-primary'>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          <%end%>
        </div>
        <p class='mt-2 text-justify card-text'>
          "Jette-moi cette merde que je ne saurai voir" est sa citation préférée. Elle a de la tisane dans les veines.
        </p>
      </div>
    </div>
    <div class='col-12 col-lg-6 col-xl-4 d-flex mb-3'>
      <div class='card card-lg card-body align-items-center'>
        <%=image_tag("jhonnatan.jpg", alt: "Jhonnatan Rangel", class: "avatar avatar-xlg mb-3 rounded-circle")%>
        <h6 class='mb-0'>Jhonnatan Rangel</h6>
        <span>Directeur du bonheur</span>
        <div class='float-right'>
          <%= link_to 'https://www.linkedin.com/in/jhonnatan-rangel/' do %>
            <div class='btn btn-sm btn-primary'>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          <%end%>
        </div>
        <p class='mt-2 text-justify card-text'>
          "Je sais coder en 4 langages différents, est-ce que cela fait de moi un polyglotte?"
        </p>
      </div>
    </div>
     <div class='col-12 col-lg-6 col-xl-4 d-flex mb-3'>
      <div class='card card-lg card-body align-items-center'>
        <%=image_tag("lucile.jpg", alt: "Lucile Gentaz", class: "avatar avatar-xlg mb-3 rounded-circle")%>
        <h6 class='mb-0'>Lucile Gentaz</h6>
        <span>Dev Ops</span>
        <div class='float-right'>
          <%= link_to 'https://www.linkedin.com/in/lucile-gentaz/' do %>
            <div class='btn btn-sm btn-primary'>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          <%end%>
        </div>
        <p class='mt-2 text-justify card-text'>
          "Ναι, έχω ελληνικό πληκτρολόγιο". Sinon elle nous sort souvent des problèmes, même de ceux qu'elle crée pas.
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-4 d-flex mb-3'>
      <div class='card card-lg card-body align-items-center'>
        <%=image_tag("milena.jpg", alt: "Milena Lazzaretti", class: "avatar avatar-xlg mb-3 rounded-circle")%>
        <h6 class='mb-0'>Milena Lazzaretti</h6>
        <span>It's a me</span>
        <div class='float-right'>
          <%= link_to 'https://www.linkedin.com/in/mlz-212322/' do %>
            <div class='btn btn-sm btn-primary'>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          <%end%>
        </div>
        <p class='mt-2 text-justify card-text'>
          Italienne, comme super Mario, mais sans moustaches. Elle a un fétiche pour les pyramides codées en console.
        </p>
      </div>
    </div>
    <div class='col-12 col-lg-6 col-xl-4 d-flex mb-3'>
      <div class='card card-lg card-body align-items-center'>
        <%=image_tag("raphael.jpg", alt: "Raphaël Delannay", class: "avatar avatar-xlg mb-3 rounded-circle")%>
        <h6 class='mb-0'>Raphaël Delannay</h6>
        <span>Back end dev</span>
        <div class='float-right'>
          <%= link_to 'https://www.linkedin.com/in/raphaeldelannay/' do %>
            <div class='btn btn-sm btn-primary'>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          <%end%>
        </div>
        <p class='mt-2 text-justify card-text'>
          Il souhaitait que son poste soit intitulé "back infinite" et pas "back end" parce qu'il fini jamais.
        </p>
      </div>
    </div>
      <div class='col-12 col-lg-6 col-xl-4 d-flex mb-3'>
      <div class='card card-lg card-body align-items-center'>
        <%=image_tag("lucien.jpg", alt: "Lucien Passera", class: "avatar avatar-xlg mb-3 rounded-circle")%>
        <h6 class='mb-0'>Lucien Passera</h6>
        <span>Le mentor</span>
        <div class='float-right'>
          <%= link_to 'https://fr.linkedin.com/in/lucien-passera/fr' do %>
            <div class='btn btn-sm btn-primary'>
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
          <%end%>
        </div>
        <p class='mt-2 text-justify card-text'>
          "Et oui bien-sûr ! 1 point pour l'équipe multi".
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top:5rem">
  <ul class="text-right">
    <h2> Time teller</h2>
  </ul>
</div>

<section class="timeline">
  <div class="container">
    <div class="timeline-item">
      <div class="timeline-img"></div>
        <div class="timeline-content js--fadeInLeft">
          <h2>Animal matching</h2>
          <div class="date">01 Juin 2020</div>
          <p>Meow meow meow meow meow meow. En bref, on avait l'idée ! Manquait plus que le site web.</p>
        </div>
      </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <%=image_tag "babycat.jpg", :class => "img-card-about"%>
          <h2>Animal matching mort dans l'oeuf</h2>
        </div>
        <div class="date">02 Juin 2020</div>
        <p>On s'est vite rendu compte que le nom était pourri, on a donc opté pour <strong>Whispaw</strong>, une subtile contraction des termes anglais "to whisp" qui signifie <em>chuchoter</em> et "paw" qui veut dire <em>patte</em>. Pourquoi l'anglais ? On a anticipé notre succès.</p>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
        <div class="timeline-content js--fadeInLeft">
          <div class="date">10 JUIN 2020</div>
          <h2>Mise en ligne</h2>
          <p>On s'est rendu compte que le site était en ligne sur localhost, c'est pour cela qu'on avait aucun compté créé. On a push Heroku; le site est <em>online</em> ! Spoiler alert : il fonctionne pas.</p>
        </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
        <div class="timeline-content js--fadeInRight">
          <h2>MVP</h2>
          <div class="date">12 JUIN 2020</div>
          <p>On rend le MVP de notre projet aux grands chefs. Avec un peu de chance les jokers vont pas sauter...</p>
        </div>
    </div>

    <div class="timeline-item">

      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <%=image_tag "sadcat.jpg", :class => "img-card-about" %>
          <h2>Désuétude</h2>
          <div class="date">24 juin 2022</div>
        </div>
        
        <p>Dans 2 ans ce site sera au fond d'un repo github. Avec un peu de chance il servira à un prochain moussaillon THP (ou autre). <em>Note : on est la session #12.</em> </p>
      </div>
    </div>
  </div>
</section>

<div class="container font-weight-bold mt-5">
<%= link_to "Retour", :back %>
</div>