<div class="jumbotron jumbotron-fluid">
         
</div>
 <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Rechercher">
          <a href="#" class="search_icon"><i class="fa fa-paw"></i></a>
        </div>
      </div>

<!--Second search bar testing-->
<select class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here..">
  <option value="1">Option 1</option>
  <option value="2">Option 2</option>
  <option value="3">Option 3</option>
  <option value="4">Option 4</option>
  <option value="5">Option 5</option>
</select>

<label class="mdb-main-label">Example label</label>

<select class="mdb-select" searchable="Search here..">
  <option value="1" disabled selected>Choose your option</option>
  <option value="2" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">
    example
    1</option>
  <option value="3" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle">
    example
    2</option>
  <option value="4" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle">
    example
    1</option>
</select>
<!--Second search bar testing-->


<p id="notice"><%= notice %></p>

<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Animal</th>
      <th>Chip number</th>
      <th>Breed</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Pet.all.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.animal %></td>
        <td><%= pet.chip_number %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.sex %></td>
        <td><%= pet.age %></td>
        <td><%= pet.photos.count %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>