<div class="text-center m-4">
<h1>Edite ton ami à quatre pattes</h1>
</div>


<div class="mt-3 mb-3 text-center">
<%= form_for @pet, :url => pet_path(@pet.id), method: :patch, multipart: true do |f| %>
      <div class="card">
        <div class="card-body">
          <h6 class="card-text mt-2">Prénom: <br> <%= f.text_field :name, autofocus: true,  placeholder: @pet.name %> </h6>
          <p class="card-text mt-2 mb-0">Type:</p>
          <%= f.radio_button :animal, 'Chien', :checked => true %> Chien
          <%= f.radio_button :animal, 'Chat' %> Chat
          <p class="card-text mt-2">Numéro de chip: <br>  <%= f.text_field :chip_number, placeholder: @pet.chip_number %></p>
          <p class="card-text mt-2">Age : <br>  <%= f.number_field :age, placeholder: @pet.age %></p>
          <p class="card-text mb-0">Genre:</p>
          <%= f.radio_button :sex, 'Femelle', :checked => true %> Femelle
          <%= f.radio_button :sex, 'Mâle' %> Mâle
          <p class="card-text mt-2 mb-0">Race :
          <%= f.select :breed, options_for_select(Pet::BREED), include_blank: true %></p><br>
          <p class="card-text mb-0">Mise en ligne le : <%= Time.now.strftime("%d/%m/%Y") %> </p><br>
          <p class="card-text mb-0">Tes photos currentes</p><br>


<div style="text-center">
    <div class="d-flex flex-row justify-content-center">
      <% @pet.photos.each do |p| %>
        <%= image_tag p, style: "height: 200px; width: 150px; ", class: "p-1" %>
        <div class="maintext">
          <i class="fa fa-trash"></i>
          </div>
      <% end %>
    </div>
</div>



          <p class="card-text mt-4 mb-0">Selectionne toutes les photos à télécharger</p><br>
          <%= f.file_field :photos, multiple: true, value: "Selectionne plusieurs fichiers à la fois", class: "ml-5 mt-0 mb-2" %><br>
<%= f.submit "Télécharge ton petit amis", class: "m-2" %>
<% end %>
      </div>
</div>
<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path %>
