<div class="small-jumbotron text-center ">
</div>


<div class="container">
  <!-- Search bar disabled for now, need to implement post-MVP -->
  <form class="form-inline form-inline-search">
    <div class="form-group col-sm-10 col-xs-10">
      <input class="form-control" id="anythingSearch" type="text" placeholder="Rechercher par tags">
    </div>
    <div class="form-group">
      <div id="searchBtn" class="my-3">
        <button class="btn btn-outline-primary btn-main-page">Rechercher</button>
      </div>
    </div>
  </form>

 <!-- Search bar in progress -->
  <h4>Search</h4>
  <%= form_tag(pets_path, method: :get) do%>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search") %>
  <% end %>

  <hr>
  <a tabindex="0" class="btn btn-sm btn-outline-primary btn-info-match" role="button" data-toggle="popover" data-trigger="focus" title="C'est quoi un match ?" data-content="Rien n'est plus simple : si un animal vous plaît, cliquez sur le cœur sur son profil. Lorsque cet animal like aussi votre profil, c'est un Match !"> Match ? </a>
</div>

    <!-- Responsive search bar-->
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" placeholder="Rechercher">
          <a href="#" class="search_icon"><i class="fa fa-paw"></i></a>
        </div>
      </div>

<!-- Responsive search bar with form_tag ?-->




<div class="container justify-content-around">
  <div class="row justify-content-around ml-3 mr-3">
    <% @pets_list.each do |pet| %>
      <% unless liked?(pet)%>
        <div class="col-sm-4">
          <div id="likeCard<%= pet.id %>" class="card bg-light mb-3">
            <div id="likeHeader<%= pet.id %>" class="card-header">
              <h5 class="card-title float-left"><%= pet.name%></h5>
              <% pet.tags.each do |tag|%>
                <span class='badge badge-secondary mr-2 mb-1 float-right'><%=tag.value%></span>
              <%end%>
            </div>
            <div id="likeBody<%= pet.id %>" class="card-body">
              <!---------------------IMAGE CAROUSEL--------------------->
              <div id="demo" class="carousel slide" data-ride="carousel" data-interval="7000">
                <div class="carousel-inner" >
                  <% unless pet.photos.empty? %>
                    <div class="carousel-item active">
                      <%= image_tag pet.photos.first, class: "card-img-top" %>
                    </div>
                    <% pet.photos[1..-1].each do |p| %>
                      <div class="carousel-item">
                        <%= image_tag p, class: "card-img-top" %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="carousel-item active">
                      <%= image_tag("paw.svg", {class: "card-img-top"} ) %>
                    </div>
                    <div class="carousel-item">
                      <%= image_tag("paw.svg", {class: "card-img-top"} ) %>
                    </div>
                  <%end%>
                </div>
              </div>
              <!---------------------CARD BODY END--------------------->
              <div class="mt-3">
                <% if pet.short_description != nil %>
                  <h6 class="card-subtitle my-3 text-primary"><em>"<%= pet.short_description%>"</em></h6>
                <% end %>
                <h6 class="card-subtitle mt-2 float-left">
                <%= pet.animal.capitalize %>, 
                <%= age = pet.age.to_i %> an<%if age > 1 %>s<%end%>, 
                <%= pet.sex %>
                </h6>
                <%= link_to pet_likes_path(pet.id), method: :post, remote: true do %>
                  <i id="likeButton<%= pet.id %>" class="btn btn-outline-primary btn-sm fa fa-heart float-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
