<div class="container">
  <div class="mt-5 col-md-6 offset-md-3 shadow p-3 mb-5 rounded bg-devise container-pet shadow text-center">
    <i class="fa fa-paw mt-2 fa-5x"></i>
    <h3 class="mt-3 mb-5">Ajoute ton bourreau des cœurs à quatre pattes</h3>

    <div class="text-center my-2" >
      <%= form_for @pet, :url => pets_path, multipart: true do |f| %>

        <h6 class="card-text mt-2">Nom :</h6>
        <div class="input-group mb-4">
          <%= f.text_field :name, autofocus: true, class:"form-control form-border lined-thick one-line pet-font-size" %>
        </div>

        <h6 class="card-text mt-2">Genre :</h6>
        <div class="input-group mb-4 input-checkbox" onlcick="toggleRadioButton()">
          <label class="form-control mr-0 form-border lined-thick one-line pet-radio-button"  >
            <%= f.radio_button :sex, 'Femelle', class:"radio-button", type: "radio" %><span class="pet-radio-text pet-font-size">Femelle</span>
         </label>
         <label class="form-control ml-0 border-left-0 form-border lined-thick one-line pet-radio-button" onlcick="toggleRadioButton()">
           <%= f.radio_button :sex, 'Mâle', class:"radio-button", type: "radio" %><span class="pet-radio-text pet-font-size">Mâle</span>
        </label>
        </div>

        <h6 class="card-text mt-2">Espèce :</h6>
        <div class="input-group mb-4 input-checkbox">
          <label class="form-control mr-0 form-border lined-thick one-line pet-radio-button">
          <%= f.radio_button :animal, 'chien', class:"radio-button", id: "pet-radio", type: "radio", checked: true %><span class="pet-radio-text pet-font-size">Chien</span>
         </label>
         <label class="form-control ml-0 border-left-0 form-border lined-thick one-line pet-radio-button">
         <%= f.radio_button :animal, 'chat', class:"radio-button", id: "pet-radio", type: "radio"  %><span class="pet-radio-text pet-font-size">Chat</span>
        </label>
        </div>

        <h6 class="card-text mt-2">Date de naissance :</h6>
        <div class="input-group mb-3">
          <%= f.date_field :birthdate, autofocus: true, class:"form-control form-border lined-thick pet-font-size p-2"%>
        </div>

        <h6 class="card-text mt-2">Tags :</h6>
        <div class="input-group mb-4">
          <%= f.select :tag_ids, Tag.all.collect {|p| [ p.value, p.id ]}, {}, type: "select", include_blank: true, multiple: true, class:"form-control form-border lined-thick" %>
        </div>

        <h6 class="card-text mt-2">En quelques mots :</h6>
        <div class="input-group mb-4">
          <%= f.text_area :description, autofocus: true, rows: 1, class:"form-control form-border lined-thick pet-font-size" %>
        </div>

        <p class="card-text mb-0">Mise en ligne le : <%= Time.now.strftime("%d/%m/%Y") %> </p><br>

        <h6 class="card-text">Photos :</h6>
        <div class="input-group mb-4 input-checkbox">
          <div class="image-upload">
    <label for="file-input">
        <img src=""/>

          <%= f.file_field :photos, multiple: true, value: "", class: "uploadPreview ml-5 mt-0 mb-2 preview-button" %>
</label>
</div>
        <div id="showPreview"></div>

        <div class="actions my-3">
          <%= f.submit "Créer le profil", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container font-weight-bold mb-5">
    <%= link_to "Retour", :back %>
  </div>
</div>
