<div class="container text-center">
  <div class="mt-5 col-md-6 offset-md-3 shadow p-3 mb-5 rounded bg-devise container-pet shadow container-pet-show">
     <%if @pet.photos.present? %>
        <% @pet.photos.each do |p| %>
          <%= image_tag p, class: "avatar avatar-xlg mb-3 rounded-circle"  %>
        <% end %>
      <%else%>
        <%= image_tag "michat.jpg", class: "avatar avatar-xlg mb-3 rounded-circle"  %>
      <%end%>

    <h4 class="pet-name"><%= @pet.name %> · <%= @pet.animal %></h4>
    <p><strong>Race :</strong> <%= @pet.breed %></p>
    <p><strong>Genre :</strong> <%= @pet.sex %></p>
    <p><strong>Âge :</strong> <%= @pet.age %> ans</p>
    <p><strong>À propos :</strong> <%= @pet.description %></p>
    <div class="btns-pet-show">
      <%if current_user == @pet.user%>
        <%= link_to 'Editer son profil', edit_pet_path(@pet), class: "btn btn-primary btn-edit-pet-profile" %>
        <%= link_to 'Supprimer', pet_path(@pet), method: :delete, class: "btn btn-outline-primary" %>
      <%end%>
    </div>
  </div>
</div>
<div class="container font-weight-bold">
  <%= link_to "Retour", :back %>
</div>
