<div class= "container text-center">
 <div class='card card-lg card-body align-items-center'>
     <%if @pet.photos.present? %>
        <% @pet.photos.each do |p| %>
          <%= image_tag p, style: "width: 200px; height: 200px; ", class: "avatar avatar-xlg mb-3 rounded-circle"  %>
        <% end %>
      <%else%>
        <%= image_tag "michat.jpg", style: "width: 200px; height: 200px; ", class: "avatar avatar-xlg mb-3 rounded-circle"  %>
      <%end%>

    <h6 class='mb-0'><%= @pet.name %></h6>
    <p> <%= @pet.animal %></p>
    <p><strong>N° de puce :</strong> <%= @pet.chip_number %></p>
    <p><strong>Race :</strong> <%= @pet.breed %></p>
    <p><strong>Genre :</strong> <%= @pet.sex %></p>
    <p><strong>Age :</strong> <%= @pet.age %></p>
    <p><strong>Description :</strong> <%= @pet.description %></p>
    <p class='mt-2 text-justify card-text'>
      <%if current_user == @pet.user%>
        <%= link_to 'Editer le profil de mon animal', edit_pet_path(@pet), class: "btn  btn-warning" %> |
        <%= link_to 'Supprimer le profil de mon animal', pet_path(@pet), method: :delete, class: "btn btn-outline-primary" %>
      <%end%>
    </p>
  </div>


  <div class="container font-weight-bold offset-0">
    <%= link_to " < Retour", :back %>
  </div>
</div>
