<div class="text-center">
  <%=image_tag("kingcat.jpg", class: "small-jumbotron", alt: "")%>
</div>
<div class="container mb-5">
  <h3 class="text-center mb-5">Échanger avec les matchs de <%= current_pet.name %></h3>
  <div class="row mb-5">
    <div class="col-sm-5">
      <div>
        <h4 class="py-3 alert-light text-center mb-3">Mes matchs</h4>
        <% my_pets_matches.each do |match|%>
          <tr class="d-flex justify-content-between wrap">
            <td>
              <h5 class="mx-2">
                <%= link_to match.name, pet_path(match.id) %> <small><%= match.animal%> <%= match.sex.downcase%></small>
              </h5>
            </td>
          </tr>
        <%end%>
      </div>
    </div>
    <div class="col-sm-7">
      <div>
        <h4 class="py-3 alert-light text-center mb-3">Mes conversations en cours</h4>
        <%= render @chatrooms %>
      </div> 
    </div>
  </div>
  <div class="container font-weight-bold mb-5">
    <%= link_to "Retour", :back %>
  </div>
</div>

