<div class="container mb-5">
  <div class="font-weight-bold mt-5 mb-5">
    <ol class="breadcrumb-container">
      <li class="breadcrumb-item">
        <%= link_to "Accueil", root_path, class:"item-breadcrumb" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Mes conversations", chatrooms_path, class:"item-breadcrumb" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @chatroom.title, chatroom_path(@chatroom), class:"item-breadcrumb" %>
      </li>
    </ol>
  </div>
  <h2 class ="my-3 text-center mt-5 mb-5"><%= @chatroom.title %></h2>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <%= render @chatroom.messages %>
  </div>
  <hr />
  <div class="container justify-content-center mx-3">
    <%= form_for @message, url: "#" do |f| %>
      <%= f.label "Message" %>
      <div class="form-group row">
        <%= f.text_area :body, class: 'form-control col-sm-10' %>


        <%= f.hidden_field :chatroom_id, :value => @chatroom.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "Envoyer", class: 'btn btn-primary btn-lg ml-3 my-2' %>
      </div>
      <small class="text-muted  mb-3">Entre 2 et 1000 caractères</small>
    <% end %>
  </div>
</div>