<div class="small-jumbotron text-center ">
</div>

<div class="container text-center">
  <h1 class="m-5">Mes Matches</h1>
  <% if @my_matches.empty? %>
    <div class="text-center">
      <h3>Oh you can't hurry love, oh you just have to wait...</h3>
      <h6>On n'est pas totalement d'accord<br>
        Le monde est plein <span class="animal-friend">d'amimaux</span>,
        <%=link_to pets_path, class:"go-like" do%>
          va les liker<i class="fa fa-paw ml-1"></i>
        <%end%>
      </h6>
    </div>
  <% else %>
    <div class="container text-center">
      <h3 class="m-5">Ces chanceux ont <i>match</i> avec toi !</h3>
    </div>
    <div class="row justify-content-around ml-3 mr-3 mb-5">
      <% @my_matches.each do |like| %>
        <div class="col-sm-4">
          <div id="likeCard<%= like.liked_id %>" class="card scale-down bg-custom text-white mb-3">
            <div id="likeHeader<%= like.liked_id %>" class="card-header">
              <div class="row mr-0 ml-0">
                <% name = like.liked.name %>
                <%= link_to name, pet_path(like.liked.id), class: "h4 card-title float-left pet-card-title text-white mr-auto" %>
                <%=link_to "Écris-lui !", chatrooms_path, class:"btn btn-dark align-self-center" %>
              </div>
            </div>
            <div id="likeBody<%= like.liked_id %>" class="card-body">
              <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" >
                  <% unless like.liked.photos.empty? %>
                    <div class="carousel-item active">
                      <%= image_tag like.liked.photos.first, class: "card-img-top" %>
                    </div>
                    <% like.liked.photos[1..-1].each do |p| %>
                      <div class="carousel-item">
                        <%= image_tag p, class: "card-img-top" %>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="carousel-item active">
                      <%= image_tag("paw.svg", {class: "card-img-top"} ) %>
                    </div>
                  <% end %>
                </div>
              </div>
            <!---------------------CARD BODY END--------------------->
              <div class="mt-3">
                <% if like.liked.user.distance_to(current_user) < 1 %>
                  <h6 class="card-subtitle my-3 text-white">À moins de 1 km</h6>
                <% else %>
                  <h6 class="card-subtitle my-3 text-white">À <%= like.liked.user.distance_to(current_user).round %> km</h6>
                <% end %>
                <h6 class="card-subtitle mt-2 float-left">
                  <%= like.liked.animal.capitalize %>,
                  <% if like.liked.birthdate != nil %>
                    <% if like.liked.age > 1 %>
                      <%= like.liked.age %> ans,
                    <% else %>
                      <%= like.liked.age %> an,
                    <% end %>
                  <% end %>
                  <%= like.liked.sex %>
                </h6>
                <%= link_to pet_like_path(like.liked_id, like.id), method: :delete, remote: true do %>
                  <i id="dislikeButton<%= like.liked_id %>" class="btn btn-primary btn-sm fa fa-heart float-right"></i>
                <% end %>
              </div>            
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container text-center mb-5">
  <h1 class="m-5">Mes Likes</h1>
  <% if @my_likes.empty? %>
    <div class="text-center">
      <h3>Dépèche-toi, 
        <%=link_to pets_path, class:"go-like" do%>
          va liker les animaux les plus cools <i class="fa fa-paw"></i>
        <%end%>
      du web</h3>
    </div>
  <% else %>
    <div class="row justify-content-around ml-3 mr-3">
      <% @my_likes.each do |like| %>
        <div class="col-sm-4">
          <div id="likeCard<%= like.liked_id %>" class="card bg-light mb-3" ">
            <div id="likeHeader<%= like.liked_id %>" class="card-header">
              <% name = like.liked.name%>
              <%= link_to name, pet_path(like.liked.id), class: "h4 card-title float-left pet-card-title" %>
              <% like.liked.tags.each do |tag|%>
                <span class='badge badge-secondary mr-2 mb-1 float-right'><%=tag.value%></span>
              <%end%>
            </div>
            <div id="likeBody<%= like.liked_id %>" class="card-body">
              <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" >
                  <% unless like.liked.photos.empty? %>
                    <div class="carousel-item active">
                      <%= image_tag like.liked.photos.first, class: "card-img-top" %>
                    </div>
                    <% like.liked.photos[1..-1].each do |p| %>
                      <div class="carousel-item">
                        <%= image_tag p, class: "card-img-top" %>
                      </div>
                    <%end%>
                  <% else %>
                    <div class="carousel-item active">
                      <%= image_tag("paw.svg", {class: "card-img-top"} ) %>
                    </div>
                    <div class="carousel-item">
                      <%= image_tag("paw.svg", {class: "card-img-top"} ) %>
                    </div>
                  <%end%>
                </div>
                      <!---------------------CARD BODY END--------------------->
                <div class="mt-3">
                  <% if like.liked.short_description != nil %>
                    <h6 class="card-subtitle my-3 text-primary"><em>"<%= like.liked.short_description%>"</em></h6>
                  <% end %>
                  <h6 class="card-subtitle mt-2 float-left">
                    <%= like.liked.animal.capitalize %>,
                    <% if like.liked.birthdate != nil %>
                      <% if like.liked.age > 1 %>
                        <%= like.liked.age %> ans,
                      <% else %>
                        <%= like.liked.age %> an,
                      <% end %>
                    <% end %>
                    <%= like.liked.sex %>
                  </h6>
                  <%= link_to pet_like_path(like.liked_id, like.id), method: :delete, remote: true do %>
                    <i id="dislikeButton<%= like.liked_id %>" class="btn btn-primary btn-sm fa fa-heart float-right"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container font-weight-bold mb-5">
  <%= link_to "Retour", :back %>
</div>
