<div class="container">
  <div class="mt-5 text-center col shadow p-3 mb-5 bg-white rounded">
    <h2 class="mt-3 mb-5">Mon profil humain</h2>
    <div class="text-center my-2">
      <div class="row">
        <div class="col-12">
          <div class="text-center my-2">
            <% if @user.first_name != nil || @user.last_name != nil %>
              <div class="input-group info-user mb-3">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                <span class="user-email ml-2"><h6 class="info-user-text"><%= @user.first_name %> <%= @user.last_name %></h6></span>
              </div>
            <% end %>
            <div class="input-group info-user mb-3">
              <span class="input-group-text info-user"><i class="fa fa-envelope" aria-hidden="true" ></i></span>
              <span class="user-email ml-2"><h6 class="info-user-text"><%= @user.email%></h6></span>
            </div>
            <div class="actions my-3">
              <%= link_to "Editer mon profil", edit_users_path, class:"btn btn-primary" %>
              <%= link_to "Editer mon log in", edit_user_registration_path, class:"btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="mt-5 text-center col shadow p-3 mb-5 bg-light rounded">
    <h3 class="mt-3">Mes Amimaux</h3>
    <% if @user.pets.count != 0 %>
      <div class="row mt-5" >
        <% @user.pets.each do |pet| %>
          <div class='col-3 d-flex alert' style="margin: 20px;">
            <div class='card card-lg card-body align-items-center bg-primary'>
              <%if pet.photos.present? %>               
                <% pet.photos.each do |p| %>
                  <%= image_tag p, class: "avatar-pet avatar-xlg mb-3 rounded-circle" %>
                <% end %>
              <%else%>
                <%= image_tag "michat.jpg", class: "avatar-pet avatar-xlg mb-3 rounded-circle"  %>
              <%end%>         
              <h6 class='mb-0'>
                <%= pet.name%> 
                <%if pet.breed.present?%> 
                  le <%=pet.breed%>
                <%end%>
              </h6>
              <span><%= pet.animal%></span>
              <div class='float-right' style='margin-top: 10px;'>
                <div class='text-center' style='margin-top: 10px;'>
                  <%=link_to "Voir son profil", pet_path(pet), class:'btn btn-sm btn-warning' %>
                </div>
                <div class='float-right' style='margin-top: 10px;'>
                  <%= form_for(current_user, url: users_path, method: :put) do |f| %>
                    <%= f.hidden_field :default_pet_id, :value => pet.id %>
                    <%= f.submit "Choisir comme favori",class:"btn btn-sm btn-secondary" %>
                  <%end%>
                </div>
              </div>
              <div class='float-right' style='margin-top: 10px;'>
                <%if pet.id == @user.default_pet_id%>  
                  <i class="fa fa-star fa-3x" aria-hidden="true" style="color:yellow"></i>
                <%end%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <% else %>
      <p class="mt-3">Vous n'avez aucun profil d'animal enregistré.</p>
    <% end %>
    <div class="col text-center">
      <div class="actions my-3 mt-4">          
        <%= link_to "Créer un animal", new_pet_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="container font-weight-bold">
    <%= link_to "Retour", :back %>
  </div>
</div>
