<div class="container mb-5">
  <div class="font-weight-bold mb-5 mt-5">
    <ol class="breadcrumb-container">
      <li class="breadcrumb-item">
        <%= link_to "Accueil", root_path, class:"item-breadcrumb" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Mon profil", users_path, class:"item-breadcrumb" %>
      </li>
    </ol>
  </div>
  <div class="mt-5 text-center col shadow p-3 mb-5 bg-white rounded">
    <h2 class="mt-3 mb-5">Mon profil humain</h2>
    <div class="text-center my-2">
      <div class="row">
        <div class="col-12">
          <div class="text-center my-2">
            <% if @user.first_name != nil || @user.last_name != nil %>
              <div class="input-group info-user mb-3">
                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                <span class="user-email ml-2"><h6 class="info-user-text"><%= @user.first_name %> <%= @user.last_name %></h6></span>
              </div>
            <% end %>
            <div class="input-group info-user mb-3">
              <span class="input-group-text info-user"><i class="fa fa-envelope" aria-hidden="true" ></i></span>
              <span class="user-email ml-2"><h6 class="info-user-text"><%= @user.email%></h6></span>
            </div>
            <% if @user.address != nil || @user.city != nil || @user.country != nil %>
              <div class="input-group info-user mb-3">
                <span class="input-group-text info-user"><i class="fa fa-map-marker" aria-hidden="true" ></i></span>
                <span class="user-email ml-2">
                  <h6 class="info-user-text">
                    <% if @user.address.present?  %>
                      <%= @user.address %>, 
                    <% end %>
                    <% if @user.city.present? %>
                      <%= @user.city %>,
                    <% end %>
                    <% if @user.country.present? %>
                      <%= @user.country %>
                    <% end %>
                  </h6>
                </span>
              </div>
            <% end %>
            <div class="actions my-3">
              <%= link_to "Éditer mon profil", edit_users_path, "data-turbolinks" => "false", class:"btn btn-primary" %>
              <%= link_to "Éditer mon log in", edit_user_registration_path, class:"btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="mt-5 text-center col shadow p-3 mb-5 bg-white rounded my-pets">
    <h2 class="mt-3">Mes <span class="animal-friend">Amimaux</span></h2>
    <% if @user.pets.count != 0 %>
      <div class="row mt-5 d-flex justify-content-center" >
        <% @user.pets.each do |pet| %>
          <div class='col-3 col-user-animal'>
            <div id="likeCard<%= pet.id %>" class="card bg-light mb-3">
              <div id="likeHeader<%= pet.id %>" class="card-header">
                <h5 class="card-title-profile float-left"><%= pet.name%></h5>
                <h5>
                  <div class='float-right'>
                    <%if pet.id == @user.default_pet_id%>  
                      <i class="fa fa-star" aria-hidden="true" style="color:#f3c316"></i>
                    <%end%>
                  </div>
                </h5>
              </div>
              <div id="likeBody<%= pet.id %>" class="card-body">
                <% unless pet.photos.empty? %>
                  <%= image_tag pet.photos.first, class: "avatar-pet avatar-xlg mb-3 rounded-circle" %>
                <% else %>
                  <%= image_tag "michat.jpg", class: "avatar-pet avatar-xlg mb-3 rounded-circle"  %>
                <%end%>
                <div class="mt-3">
                  <div class="buttons-user-pets">
                    <div class="text-center button-user-pet">
                      <%=link_to "Voir son profil", pet_path(pet), class:'btn btn-sm btn-warning' %>
                    </div>
                    <div class="button-user-pet">
                      <%= form_for(current_user, url: users_path, method: :put) do |f| %>
                        <%= f.hidden_field :default_pet_id, :value => pet.id %>
                        <%= f.submit "Animal en vedette",class:"btn btn-sm btn-secondary mb-2" %>
                      <%end%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <% else %>
      <p class="mt-3">Vous n'avez aucun profil d'animal enregistré.</p>
    <% end %>
    <div class="col text-center">
      <div class="actions my-3 mt-4">          
        <%= link_to "Créer un animal", new_pet_path, "data-turbolinks" => "false", class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
