<div class="text-center ">
  <%=image_tag("cat_white_home.jpg", class: "small-jumbotron", alt: "")%>
</div>
<div class="container mb-5">
  <div class="font-weight-bold mb-5">
    <ol class="breadcrumb-container">
      <li class="breadcrumb-item">
        <%= link_to "Accueil", root_path, class:"item-breadcrumb" %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to "Tags", tags_path, "data-turbolinks" => "false", class:"item-breadcrumb" %>
      </li>
    </ol>
  </div>
  <div class="text-center">
    <h2>Liste des tags</h2>
  </div>
  <a tabindex="0" class="btn btn-outline-primary btn-info-match mt-3" role="button" data-html="true" data-toggle="popover" data-trigger="focus" title="C'est quoi un tag ?" data-content="Rien n'est plus simple : un tag, ou une étiquette, est un mot-clé associé à votre animal. Ce mot-clé décrit l'une des  caractéristiques de votre animal, ce qui permettra à d'autres utilisateurs de trouver rapidement le profil de votre chien ou chat lors de leur recherche. <br>L'utilisation de tag vous permet donc de trouver des <i>amimaux</i> possèdant les caractéristiques que vous recherchez."> Tag ? </a>
  <table class="table table-striped rounded">
    <thead>
      <tr class= "bg-primary text-white text-center">
        <th scope="col">#</th>
        <th scope="col">Tag</th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <th scope="row" class="text-center"><%=tag.id%></th>
          <td class="text-center"><%=tag.value%></td>
        </tr>
      <%end%>
    </tbody>
  </table> 
  <div class="text-center mt-5">
    <%= link_to "Créer un tag", new_tag_path, class: "btn btn-primary" %>
  </div>
</div>
