<footer class="footer container-fluid">
<hr />

  <div class="container text-center">
      <div class="row" style="justify-content: center;">
        <% if user_signed_in?%>

        <% unless current_user.cart.present? %>
        <%= link_to "Mon panier", carts_path, class:"nav-link" %>
        <% else %>
        <% cart = current_user.cart %>
        <%= link_to "Mon panier", cart_path(cart.id), class:"nav-link"%>
        <% end %>

          <%= link_to "Mon profil", user_path(current_user), class: "nav-link"%>
        <%end%>
        <%= link_to "A propos de Chaton ®", about_path, class: "nav-link"%>
        <%= link_to "Nous contacter", contact_path, class: "nav-link"%>
         <% if user_signed_in?%>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link"%>
        <%end%>
      </div>
    </div>


  <div class="text-center pb-2">© 2020 Copyright :
    <a href="https://www.thehackingproject.org/" class="a-secondary"> Session # 12</a>,
    <a href="https://www.thehackingproject.org/" class="a-secondary"> The Hacking Project</a>
  </div>
</footer>
