 <footer class="py-3 mt-5" id="footer">
  <div class="container">
    <div class="text-center pb-2">
      <%= link_to "A propos de Whispaw ®"%>
      <%= link_to "Nous contacter"%>
    </div>
    
    <div class="text-center pb-2">© 2020 Copyright :
      <%=link_to "Session # 12", "https://www.thehackingproject.org/", class:"a-secondary" %>
      <%=link_to "The Hacking Project", "https://www.thehackingproject.org/", class:"a-secondary" %>
    </div>
  </div>
  <div>
    <div class="social d-table mx-auto">
      <%=link_to "https://www.instagram.com/", class:"instagram mx-3 h4 text-primary" do %>
        <i class="fa fa-instagram"></i>
        <span class="sr-only">Follow us on Instagram</span>
      <%end%>

      <%=link_to "https://www.facebook.com/", class:"facebook mx-3 h4 text-primary" do %>
        <i class="fa fa-facebook"></i>
        <span class="sr-only">Follow us on Facebook<span>
      <%end%>
      
      <%=link_to "https://www.googleplus.com/", class:"google-plus mx-3 h4 text-primary" do %>
        <i class="fa fa-google-plus"></i>
        <span class="sr-only">Follow us on Google Plus<span>
      <%end%>

    </div>
  </div>
</footer>
