<% if user_signed_in? %>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <%= link_to root_path, class:"navbar-brand mr-2 ml-1" do %>
      <i class="fa fa-paw"></i> Whispaw
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon espace</a>
          <div class="dropdown-menu">
            <%= link_to "Mon profil", users_path, {:class => "dropdown-item"} %>
            <%= link_to "Paramètres", edit_users_path, {:class => "dropdown-item"} %>
          </div>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Animaux</a>
          <div class="dropdown-menu">
            <% if user_signed_in? && !current_user.default_pet_id.nil? %>
              <%= link_to "Recherche des amimaux", pets_path, {:class => "dropdown-item"} %>
              <%= link_to "Mes likes / mes matches", pet_likes_path(current_user.default_pet_id), {:class => "dropdown-item"} %>
            <% else %>
              <%= link_to "Créer un animal", new_pet_path, {:class => "dropdown-item"} %>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tags</a>
          <div class="dropdown-menu">
            <%= link_to "Créer un tag", new_tag_path, :class => "dropdown-item" %>
            <%= link_to "Liste des tags", tags_path, :class => "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Mes messages", chat_rooms_path, :class => "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if !current_user.default_pet_id.nil?%>
          <li class="nav-item">
            <em><%= link_to "#{Pet.find(current_user.default_pet_id).name} en ligne", users_path, :class => "nav-link" %></em>
          </li>
        <% end %>
        <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, {:method => :delete, :class => "nav-link"} %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>

