<!DOCTYPE html>
<html>
  <head>
    <title>AnimalMatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

  </head>

  <body>
    <% if user_signed_in? do%>
    <%= render 'layouts/navbar'%>
    <% end %>
    <%= render 'layouts/flash'%>
    <%= yield %>
  </body>
</html>
