<!DOCTYPE html>
<html>
  <head>
    <title>AnimalMatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track": true %>
  </head>

  <body>
    <div id="content-wrap">
      <%= render 'layouts/navbar'%>
      <%= render 'layouts/flash'%>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
